#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
}

@media (min-width: 640px) {
  #root {
    padding: 1rem;
  }
}

@media (min-width: 768px) {
  #root {
    padding: 2rem;
  }
}